$screenIphoneSize: 900px;

@mixin respond-to($breakname) {
  @if $breakname == 'iphone' {
      @media (max-width: $screenIphoneSize) {
          @content;
      }
  }
  @else if $breakname == 'pc' {
      @content;
  }
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

.banner {
  background-color: pink;
  @include respond-to('pc') {
    height: 280px;
  }
  .banner-image {
    height: 100%;
  }
}