.content-card {
    margin-bottom: 2px;
    padding: 10px;
    background-color: #ffffff;
    color: var(--theme-text);
    font-size: 13px;
    .content-card-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .avatar {
            margin-right: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .user {
            h5 {
                margin: 0;
                font-size: 13px;
                color: var(--theme-title);
            }
            span {
                font-size: 12px;
                color: #909090;
            }
        }
    }
    .content-card-title {
        margin-bottom: 12px;
        .content-type {
            margin-right: 6px;
            color: var(--theme-antd);
        }
        .source-nav {
            margin-left: 6px;
            color: var(--theme-antd);
        }
    }
    .content-card-description {

    }
    .content-card-tags {
        margin-top: 12px;
        cursor: pointer;
        span {
            margin-right: 8px;
            &:hover {
                color: var(--theme-antd);
                transition-duration: .25s;
            }
        }
    }
}