$screenIphoneSize: 900px;

@mixin respond-to($breakname) {
  @if $breakname == 'iphone' {
      @media (max-width: $screenIphoneSize) {
          @content;
      }
  }
  @else if $breakname == 'pc' {
      @content;
  }
}

.layout {
  .layout-body {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-grow: 20px;
    background-color: #f9f9f9;
    @include respond-to('pc') {
      .website-left {
        margin-top: 28px;
        margin-right: 10px;
        width: 400px;
        max-width: 400px;
        transition: all .3s ease;
        .site-info-left {
          position: sticky;
          top: 70px;
          .announcement {
            line-height: 20px;
            li {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              .anticon {
                display: inline-block;
                margin: -3px 5px 0 0;
                vertical-align: middle;
              }
            }
          }
        }
      }

      .website-right {
        width: 100%;
      }
    }
    @include respond-to('iphone') {
      .website-left {
        display: none;
      }
    }
  }
}