.user-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    ul {
        line-height: 30px;
        color: var(--theme-text);
        .name {
            display: flex;
            align-items: center;
            color: var(--theme-title);
            font-size: 16px;
            letter-spacing: 5px;
        }
        li {
            font-size: 13px;
        }
    }
    .ant-btn-primary {
        width: 100%;
        background-color: var(--theme-antd);
        .ant-btn-icon {
            display: inline-block;
            margin-top: -4px;
            font-size: 14px;
            vertical-align: middle;
            margin-inline-end: 5px !important;
        }
    }
}